## Deliverable 2. Create a Customer Travel Destinations Map.

In [46]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
g_key="AIzaSyC3hjgaSWs502HKG-tnzBaJU81TPMhMB7c"

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [47]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_challenge_database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Longyearbyen,SJ,78.2186,15.6401,1.24,60,20,9.22,few clouds
1,1,Llanes,ES,43.4198,-4.7549,48.18,59,41,7.83,scattered clouds
2,2,Samarai,PG,-10.6167,150.6667,78.69,83,99,7.92,moderate rain
3,3,Yellowknife,CA,62.4560,-114.3525,0.28,61,75,4.61,broken clouds
4,4,Butaritari,KI,3.0707,172.7902,81.39,75,42,14.90,scattered clouds

In [48]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 30
What is the maximum temperature you would like for your trip? 75

In [49]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_df=city_data_df.loc[(city_data_df['Max Temp']>=min_temp)&\
                                (city_data_df['Max Temp']<max_temp)]

city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Llanes,ES,43.4198,-4.7549,48.18,59,41,7.83,scattered clouds
6,6,Rikitea,PF,-23.1203,-134.9692,74.17,57,48,8.19,scattered clouds
8,8,Busselton,AU,-33.6500,115.3333,71.85,73,98,5.50,overcast clouds
11,11,Mataura,NZ,-46.1927,168.8643,46.13,98,68,2.35,broken clouds
13,13,Albany,US,42.6001,-73.9662,47.57,41,4,5.99,clear sky
...,...,...,...,...,...,...,...,...,...,...
694,694,Jiaohe,CN,43.7286,127.3447,34.11,56,18,4.32,few clouds
695,695,Miles City,US,46.4083,-105.8406,49.17,40,0,8.05,clear sky
704,704,Huntsville,US,34.7304,-86.5861,58.78,56,100,8.01,overcast clouds
705,705,Bonavista,CA,48.6499,-53.1147,37.31,92,97,19.91,overcast clouds
706,706,Tongchuan,CN,35.0806,109.0897,46.87,35,0,3.94,clear sky

In [50]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City_ID                377
City                   377
Country                374
Lat                    377
Lng                    377
Max Temp               377
Humidity               377
Cloudiness             377
Wind Speed             377
Current Description    377
dtype: int64

In [51]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_data_df=city_data_df.dropna()

city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Llanes,ES,43.4198,-4.7549,48.18,59,41,7.83,scattered clouds
6,6,Rikitea,PF,-23.1203,-134.9692,74.17,57,48,8.19,scattered clouds
8,8,Busselton,AU,-33.6500,115.3333,71.85,73,98,5.50,overcast clouds
11,11,Mataura,NZ,-46.1927,168.8643,46.13,98,68,2.35,broken clouds
13,13,Albany,US,42.6001,-73.9662,47.57,41,4,5.99,clear sky
...,...,...,...,...,...,...,...,...,...,...
694,694,Jiaohe,CN,43.7286,127.3447,34.11,56,18,4.32,few clouds
695,695,Miles City,US,46.4083,-105.8406,49.17,40,0,8.05,clear sky
704,704,Huntsville,US,34.7304,-86.5861,58.78,56,100,8.01,overcast clouds
705,705,Bonavista,CA,48.6499,-53.1147,37.31,92,97,19.91,overcast clouds
706,706,Tongchuan,CN,35.0806,109.0897,46.87,35,0,3.94,clear sky

In [68]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.


hotel_df=city_data_df[['City','Country','Max Temp',"Current Description",'Lat', 'Lng']].copy()



# 5b. Create a new column "Hotel Name"


hotel_df["Hotel Name"]=""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Llanes,ES,48.18,scattered clouds,43.4198,-4.7549,
6,Rikitea,PF,74.17,scattered clouds,-23.1203,-134.9692,
8,Busselton,AU,71.85,overcast clouds,-33.6500,115.3333,
11,Mataura,NZ,46.13,broken clouds,-46.1927,168.8643,
13,Albany,US,47.57,clear sky,42.6001,-73.9662,
...,...,...,...,...,...,...,...
694,Jiaohe,CN,34.11,few clouds,43.7286,127.3447,
695,Miles City,US,49.17,clear sky,46.4083,-105.8406,
704,Huntsville,US,58.78,overcast clouds,34.7304,-86.5861,
705,Bonavista,CA,37.31,overcast clouds,48.6499,-53.1147,
706,Tongchuan,CN,46.87,clear sky,35.0806,109.0897,

In [69]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
     
    
    # 6c. Get latitude and longitude from DataFrame 
    lat = row["Lat"]
    lng = row["Lng"]

   
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the c
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotels["results"][0]["name"])
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel La Paz
People ThankYou
Observatory Guest House
Ellie's Villa
Hotel not found... skipping.
ibis budget Newport
Super 8 by Wyndham Fortuna
Gulisitan Hotel
Sheraton Kauai Coconut Beach Resort
Sharm Hotel
Hotel do Campo
Radisson Blu Hotel Waterfront, Cape Town
departamento comodo
The Esplanade Resort & Spa
Paradise Inn
Timotel Hotel
Holiday Inn Express & Suites Superior - Duluth Area, an IHG Hotel
Hotel Hain
The Halyards Hotel
Misty Waves Boutique Hotel
Hotel Porto Santo & Spa
Albatross Hotel
Hostal Las Lilas
Tu Casa
Snow's Cove Lodge
Bredasdorp Country Manor
The Shingles Riverside Cottages
Brīvdienu Māja Trīs istabas
Hotel not found... skipping.
Hotel not found... skipping.
Gallows Cove
Holiday Inn Express Antofagasta, an IHG Hotel
guarderia imss papalote
Crowne Plaza Ordos
Fortuna
Zelenaya Pristan'
St Ives Hobart Accommodation Tasmania
B&B La Casona de Nazaret
Hotel Santa Cruz
Shanti Maurice Resort & Spa
Hampton Inn & Suites Show Low-Pinetop
Ayi The Costel
Rayen-Co, Rural Tourism
Mini Hotel Central
Port Lincoln Hotel
安顺麦吉风格酒店
Hotel Chik Chik Namibe
Manyue Condo Hotel
Courtyard by Marriott Danbury
Nanning Travelling With Hostel
Oyster Bay House Rental
Hotell Marena
Hôtel M'Sallah
Sangthong Resort
Gran Hotel Mar del Plata
Taloa Heights
Wanaka Homestead Lodge and Cottages
Pistut
Desert Gardens Hotel - Ayers Rock Resort
Bjarnabúð
Thanda Vista B&B
Apartment above Depot Bar
Courtyard by Marriott Pittsburgh Greensburg
Kaitangata Motor Camp
Базилик Щигры
Blue Bay Lodge
املاك خالد الشعشوع
Hotel not found... skipping.
Das Hotel an der Stadthalle
Hotel Kawissa Saurimo
Ekohospresurs
Hotel Arctic
Coast Retreat Muriwai - Golf and Surf Holiday
Lovers Point Inn
სასტუმრო ამირანი
Inubosaki Kanko Hotel
Kyra Niki
Hilo Hawaiian Hotel
Tourist House - Sablino
CHACARA BAILLY
Hotel Argos
Quinta da Meia Eira
Hotel Da Praia
Villa periya
Apartment Av. Castelao
Sleep In Narsaq
Hotel Castrum Villae by Walk Hotels
Hotel Luta Resort
Hotel not found... skipping.
Hua Ling Grand Hotel Urumqi
39 On Nile Guest House
Holiday Inn Express & Suites Elk Grove Central - Hwy 99, an IHG Hotel
Tsabi's Guest House
Saville Free Shop
Hospitality Esperance
Гостиница Октябрьская
Hotel San Isidro Oficial
Chuene Resort
Holiday Inn Express Lompoc, an IHG Hotel
Katsuura Hotel Mikazuki
Fairfield Inn & Suites by Marriott Rapid City
Best Western Kodiak Inn And Convention Center
Hotel Novo Horizonte
Tateyama Seaside Hotel
Crest Hotel
Hotel not found... skipping.
Uyut
Hotell Frøya
منزل مفتاح محمد الزلبي
Beau Site
Shelly Bay Resort
Junyu Tiancheng Hotel
Sun Dek Motel
Hotel San Juan
Bluff Homestead - Guesthouse & Campervan Park
Macs
Hotel San Rafael
Nuevo Hotel Plaza
Hampton Inn & Suites Jamestown
Shyngyzkhan
TurkuazKöy
Hotel Gualok
Ballangen Camping
Dalimo Homestay
West Jontor
The Red House
Zhangye Lvzhou Holiday Inn
Airport Inn-Port Hardy
гостиница Satti
Departamento céntrico 2 ambientes 45 mt2 en Zárate
Iberostar Founty Beach
Maui Seaside Hotel
Broadwater Mariner Resort
Casa Mika Ciobanus
Hotel Grand Chancellor Launceston
Posada Del Fin Del Mundo
Hotel Hortensias
Tiger Hotel
Casa Laguna, Bed & Breakfast
Continent Hotel
Codrington Gardens Bed And Breakfast
Gostinitsa Nur-Ordo
Lambitu Hotel
Ishinomaki Grand Hotel
Banff Aspen Lodge
Dena Hotel
Oota Ryokan
Bergefors park
Karst Youth Hostel
Laurel Inn & Conference Center
Ron and Tony's Bed & Breakfast
Hotel Arrarte
Hotel Maxim
Payette Motel
Casa Tia Villa
Don Eddie's Sport Fishing Center
Riversdale Country House
Logis Hôtel la Gamade
Hotel not found... skipping.
Royal Exchange Hotel
Hotel Galvarino
Jingguan Home
Classic View Hotel
Panorama Motor Inn Hotel
Victoria Inn Hotel and Convention Centre
Rydges Port Macquarie
Pavlikov House
Hotel Villa Kitzia Huacho
Die Hoekhuis
Hotel Morotin
Hotel not found... skipping.
Hotel Xaguate
Shandrani Beachcomber Resort & Spa
Angala International Youth Hostel
Six Acres Bed & Breakfast
Pension Feldgärtenhof
Western Motel
Hotel Rural Senderos De Abona
Scarborough Beach Resort
Hotel Vila Galé Cascais
Hotel RIKMAN Continental
Khách sạn Hải Âu Quy Nhơn - Seagull Hotel
Ocean View Bed & Breakfast
Best Western Plus Abbey Inn
Gannan Supply and Marketing Cooperatives Hostel
GreenTree Alliance Hulunbeier Zhalantun Railway Station Hotel
Royal Garden Hotel
Holiday Inn Express Roseville-St. Paul
Fox Motor Inn
Casa Das Faias
The Commodore
baghdadi hotelهتل و رستوران بغدادی
Prestige Hudson Bay Lodge, Premier Collection
dyd -mar Hotel
Eware Refugio Amazonico
Guest House Du Cinquantenaire
Deerpark Manor B&B
Hôtel Matagami
Guest House Epervier
Hotel TRH Baeza
Hotel Monasterio de San Francisco
Holiday Inn Datong City Centre
Glamping & Camping
Scenic Hotel Southern Cross
Holiday Inn Express Grande Prairie, an IHG Hotel
Nsanje Discovery Lodge
Sherwood Motel
HOTEL IMAN
Hotel Fanilo
Guest House Aki
Chenango Valley State Park
TumbleWeed RV Park
Hotel Falcone
Al Quaal Lodge
Veranda Paul et Virginie Hotel & Spa
Best Western Shelbyville Inn And Suites Celebration Inn
Hotel not found... skipping.
Shell Zhangjiakou City Qiaodong District Ginza Hotel
Premier Inn Oldham Central hotel
Lahaina Shores Beach Resort
Pestana Bahia Praia
Hôtel Mercure Abbeville Centre - Porte de la Baie de Somme
Auberge Niapiskau
Hampton Inn Ukiah
The Ritz-Carlton, Philadelphia
Hotel Restaurante Aldama
Delong Hotel
Hotel Arena Gruesa
Ахмадын амралт сувилал
Hotel Boutique Las Azucenas
Die Lemoenhuis
Мини-отель "Blackberry"
Premier Inn Margate hotel
BCMInns - Peace River
The West Cork Hotel
Hotel Olafsvik
东方珍珠饭店
Mayju
Hotel Branco I
The Bobcaygeon Inn And The Royal Moose Grill & Waterfront Patio
Hotel Ballast Wilmington, Tapestry Collection by Hilton
Hotel Pousada Nossa Senhora do Carmo
Red Lion Hotel Coos Bay
Embassy Suites by Hilton Portland Downtown
Hotel Castelo
RACV Royal Pines Resort Gold Coast
Minshuku Agaihama
Abha Hotel
Apartamentos Castelli 90
Canadas Best Value Inn Prince George
Hotel not found... skipping.
Ata Hotel
Motel Le Quiet
Pudong Holiday Hotel
Gateway Studio Suites
National 9 - Price River Inn
Hotel not found... skipping.
Lvye Holiday Resort
Holiday Inn Express & Suites Altus, an IHG Hotel
Hotel Boutique Quinta das Videiras
Diego De Almagro Coyhaique
The Sebel Kiama Harbourside
Hotel not found... skipping.
Toyoko Inn Oyama-eki Higashi-guchi No.1
Praia Hotel Imbituba
Benjie Malsi Home
Shellharbour Resort & Conference Centre
Hotel Atoll Emerald Miyakojima
Shingu UI Hotel
Fairfield Inn & Suites by Marriott Grand Island
Southern Beach Hotel & Resort Okinawa
Hotel "Your home-Balzer"
Xintiandi Business Hotel
Hyatt Regency San Francisco Airport
Hotel Restaurante Bagoeira
Argyle Hotel
Best Western Patriots Point
Jared Coffin House
El Medina
Westella Colonial Bed & Breakfast
Holiday Inn Express Dryden, an IHG Hotel
Days Inn by Wyndham Mason City
Amina
Bushido Lodge
Flem Cabins
Springdale Inn
Vesolaya Mayovka
Moosonee Lilypad
American Inn & Suites
Penginapan Citra Alam
Orwood Resort Inc
Casa Concejos
OYO 2964 Hotel Ridho
Ruth's Hotel
Grace Inn Zhangqiu Station Avenue Branch
Westmark Sitka
Gostinitsa Tsentral'naya
Laoyutang Resort
Austral Hotel
Casa da Bezerra
Wajiima Onsen Yashio
Hotel Yestoya
Arden Country House BnB Dunedin
Evans hide out
Hotel not found... skipping.
Valle Aridane
Royal Crown Hotel
Hotel not found... skipping.
Island Inn
Mutoko Hotel
Zajazd "Wrota Lasu"
Hilton Garden Inn Qidong
帕米尔青年旅舍
Herdeiros de Antunes Capusso
Methoni Beach Hotel
Hotel Sisimiut
Hotel JM Puerto del Rosario
Gostevoy Dom 1
Hotel not found... skipping.
Vila Nova Hotel
Аренда жилья/Баня
Hotel Meligai Kapit
North Gate Hostel
Alaska's Select Inn Wasilla
عمارت ساعتی تفت
Hótel Höfn
Pereybere Hotel & Spa
Hotel Nemuro Kaiyoutei
Hotel not found... skipping.
マースガーデンウッド御殿場
Holiday Inn Express & Suites Kansas City-Grandview
Meadow Brook Mobile Estates
Hotel Beatriz
Knobby's Fly-In Camps
Siang Guest House
Majestic Oasis Apartments
Harmony Inn
Hotel not found... skipping.
Best Western Smoky Mountain Inn
Maqna Hotel by Prasanthi
Jinjiang Inn Zhoushan Putuo Shenjiamen
عمارة السفير
Aletti Palace Hotel
Durrant House Hotel
Shimoda Tokyu Hotel
Hotel not found... skipping.
Royal Hotel
HOTEL TERME DI RAPOLLA
บ้านห้องนอน
Hotel not found... skipping.
Adair Arms Hotel
Ahipara Holiday Park
Days Inn & Suites by Wyndham Warman Legends Centre

Petawawa River Inn & Suites
Hotel SJ
Capo Peloro Resort
Comfort Inn & Suites
いこいの村なみえ
U Ally Hotel
Hotel Boutique Runde
First Hotel Stadt
Mercure Livingston Hotel
Tora Coastal Walk
MS Fuente Las Piedras
Hôtel Barrière Le Royal La Baule
Lavochka
Lindos Princess Beach Hotel
Hotel Wictoria
Bahcesaray Koyu Muhtarligi
Home Inn Fashion Hotel
FairBridge Inn & Suites Miles City
Embassy Suites by Hilton Huntsville Hotel & Spa
Sweet Sharons bnb
Tongchuan Hotel

In [71]:

hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Llanes,ES,48.18,scattered clouds,43.4198,-4.7549,Hotel La Paz
6,Rikitea,PF,74.17,scattered clouds,-23.1203,-134.9692,People ThankYou
8,Busselton,AU,71.85,overcast clouds,-33.6500,115.3333,Observatory Guest House
11,Mataura,NZ,46.13,broken clouds,-46.1927,168.8643,Ellie's Villa
13,Albany,US,47.57,clear sky,42.6001,-73.9662,
...,...,...,...,...,...,...,...
694,Jiaohe,CN,34.11,few clouds,43.7286,127.3447,Home Inn Fashion Hotel
695,Miles City,US,49.17,clear sky,46.4083,-105.8406,FairBridge Inn & Suites Miles City
704,Huntsville,US,58.78,overcast clouds,34.7304,-86.5861,Embassy Suites by Hilton Huntsville Hotel & Spa
705,Bonavista,CA,37.31,overcast clouds,48.6499,-53.1147,Sweet Sharons bnb
706,Tongchuan,CN,46.87,clear sky,35.0806,109.0897,Tongchuan Hotel

In [74]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()
clean_hotel_df=hotel_df.dropna()

In [79]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"


# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [80]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Descrip</dt><dd>{Current Description}</dd>
</dl>
"""


# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [84]:
# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
#max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
 #            max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))